@charset "utf-8"
body{
	font-size:12px;
	font-family:"Tribuchet MS";
	background-color:#8BA1A1;
	}
#content{
	background-color:#FF0000;
	border:2px solid #000000;
	padding:0px;
	width:768px;
	margin:0 auto;
	}
#cabecalho{
	height:150px;
	margin-top:2px;
	margin-left:3px;
	} 
#banner{
	background:url('../imagens/Internet-Banner.jpg');
	height:150px;
	width:760px;
	position:relative; 
	margin-top:0; 
}
#menu{
	background-color:#000000; 
	width:760px;
	height:40px;
	margin-top:3px;
	margin-left:3px;
	
	}
#menu ul{
	margin-top:0px;
	float:left;
	text-align:center;
	padding-right:20px;
	background-color:#FFFFF;
	color:#000000;
	}
#menu li{ 
	   
	  background-color:#000000; 
	  color:#FFFFFF; 
	  padding-left:20px;  
	  padding-right:20px;  
	  font-size:1.5em; 
	  margin-left:0px; 
	  display:inline-block;
	  border-radius:10px;
	 -moz-border-radius:10px;
	 -webkit-border-radius:10px; 
     } 
	
#menu li a{
	
	color:#999;
	font-size:1.4em;
	text-decoration:none;
}
#menu a:hover{
	color:#FF0000; /*aqui*/
	text-decoration:none;
	}
#menu li:hover{
     
     background-color:#000080;
}
#caixa{
	width:400px;
	height:150px;
	padding:0px;
	position:absolute;
	top:12px;
	background:rgba(0,0,0,0.6);
}
h1{
	margin-top:20px;
	margin-left:10px;
	margin-bottom:0;
	font-size:30px;
	font-weight:150;
	color:#FFF;
}
#caixa p{
	margin-top:5px;
	margin-left:80px;
	font-size:20px;
	font-weight:150px;
	color:#ffffff;
}

form{
	width:550px;
	margin:auto;
}
input{
	font-family:sans-serif;
	font-weight:normal;
	font-size:13px;
}
input:hover textarea:hover{
	background-color:#000000;
}
legend{
	color:888888;
	font-weight:bold;
	font-size:13px;
	font-family:sans-serif;
	
}
fildset{
	border-color:#000000;
	margin:20px;
}
fildset sexo{
	width:200px;
}
#rodape{
	border:2px solid #000000;
	background-color:#000000;
	width:757px;
	text-align:center;
	margin-top:5px;
	margin-bottom:2.4em;
	margin-left:3px;
	clear:both;
}
#rodape p{
	color:#FFFFFF;
	font-size:18px;
}
