   body 
   {
       font-family:'Trebuchet MS';
       font-size:12px;
       background-color:#808080;

      }
   #content{

       border:5px solid #ffffff;
       padding:2px;
       margin:0 auto;
       width:759px;
   }

   #Cabesalho{
       height:150px;
       width: 759px;
}
      
   #Menu{
       
       border:2px solid #ffffff;
       height:22px;
       margin-top:1px;
       width:756px;
       
       }
   #ColunaEsquerda{

       border:2px solid #ffffff;
       margin-top:5px;
       width:170px;
       display:block;
       float:left;

   }
   #ColunaEsquerda ul{
       display:block;
       float:left;
       width:170px;
       margin:0px;
       padding:0px;
       color:#ffffff;
           
   }
   #ColunaEsquerda li{
        display:block;
        list-style-type:none;
        list-style-position:outside;
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#ffffff;

}
    #ColunaEsquerda li a{
        display:block;
        text-decoration:none;
        font-weight:bold;
        padding-left:10px;

               
    }
     #ColunaEsquerda li a:hover{

         color#000000;
         font-weight:bold;
         background-color:#FFFF00;
         padding-left:10px;
         background-color:#000000;
         color:#ffffff;
     }

   #Centro{

        border:2px solid #ffffff;
         margin-top:5px;
         margin-left:176px;
         width:579px;
         display:block;
   }
   #Rodape{

       border:2px solid #ffffff;
       font-family:'Trebuchet MS';
       font-size:9px;
       font-weight:bold;
       color:#FFFFFF;
       display:block;
       clear:both;
       margin-top:5px;
       text-align:center;
   }

   Aling_img{
            float:left;
            }